@model DepartmentEmployeeModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;

<div class="Employees">
    <div class="section">
        <div class="title">
            @T(EmployeeResources.ListCaption)
        </div>
        @if (Model.IsAdmin)
        {
            <div class="options">
                @Html.ActionLink(T(AdminResources.AddEmployeeButton).Text,
                    nameof(EmployeesController.Create),
                    EmployeesController.ControllerName,
                    new { area = "Admin" },
                    new { @class = "btn btn-primary" })
                |
                @if (Model.ShowAll)
                {
                    @Html.ActionLink(T(AdminResources.SeePublished).Text,
                             nameof(EmployeesController.Index),
                             EmployeesController.ControllerName,
                             null,
                             new { @class = "btn btn-info" })
                }
                else
                {
                    @Html.ActionLink(T(AdminResources.SeeAllButton).Text,
                             nameof(EmployeesController.ListAll),
                             EmployeesController.ControllerName,
                             null,
                             new { @class = "btn btn-info" })
                }
                |
                @Html.ActionLink(T(DepartmentActionResources.DepartmentListButton).Text,
                    nameof(DepartmentsController.List),
                    DepartmentsController.ControllerName,
                    new { area = "admin" },
                    new { @class = "btn btn-primary" })
            </div>
        }
    </div>
    <div class="clear"></div>
    @foreach (var departmentEmployees in Model.EmployeesList)
    {
        if (!departmentEmployees.Employees.Any())
        {
            continue;
        }
        <div class="employee-group">
            @if (Model.GroupByDepartment)
            {
                <div class="department">
                    @departmentEmployees.Department.Name
                </div>
            }
            <main class="cards">
                @foreach (var employee in departmentEmployees.Employees.OrderBy(x => x.Name))
                {
                    string clazz = "card";
                    if (!employee.IsActive)
                    {
                        clazz += " card-unpublished";
                    }
                    <article class="@clazz">
                        <div class="content">
                            <p class="employee-name">@employee.Name</p>
                            <p class="employee-title">
                                <span>@employee.Title</span>
                                @if (!Model.GroupByDepartment)
                                {
                                    <span>&nbsp;/&nbsp;@employee.DepartmentName</span>
                                }
                            </p>
                        </div>
                        <div class="image">
                            <img src="@employee.PhotoUrl" class="image" width="100" alt="@employee.Name">
                        </div>
                        <footer>
                            @if (Model.IsAdmin)
                            {
                                @Html.ActionLink(T(EmployeeResources.Details).Text,
                                                 nameof(EmployeesController.Info),
                                                 EmployeesController.ControllerName,
                                                 new { id = employee.Id },
                                                 new { @class = "employee-zoom" });
                            }
                            else
                            {
                                @Html.ActionLink(T(EmployeeResources.Details).Text,
                                                 nameof(EmployeesController.Info),
                                                 EmployeesController.ControllerName,
                                                 new { id = employee.EmailPrefixOrId },
                                                 new { @class = "employee-zoom" });
                            }
                        </footer>
                    </article>
                }
            </main>
        </div>
    }
</div>
