@{
    Layout = "~/Plugins/Widgets.Employees/Views/Shared/_AdminShared.cshtml";
}
@model List<Nop.Plugin.Widgets.Employees.Models.DepartmentModel>
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;
@{
    //page title
    ViewBag.Title = T(AdminResources.DepartmentListCaption).Text;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(AdminResources.DepartmentListCaption)
    </h1>
    <div class="pull-right">
        @Html.ActionLink(T(AdminResources.AddDepartmentButton).Text,
            nameof(WidgetsEmployeesController.CreateDepartment),
            WidgetsEmployeesController.ControllerName,
            null,
            new { @class = "btn bg-blue" })
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="department-grid"></div>

                    <script>
                $(document).ready(function () {
                    $("#department-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("DepartmentList", "Employees"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Plugins.Widgets.Employees.Fields.DepartmentName")"
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Plugins.Widgets.Employees.Fields.DepartmentDisplayOrder")",
                            width: 20
                        },{
                            field: "Published",
                            title: "@T("Plugins.Widgets.Employees.Fields.DepartmentPublished")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        },{
                            field: "Id",
                            title: "@T(AdminResources.EditDepartmentCaption)",
                            width: 100,
                            template: "@Html.ActionLink(T(AdminResources.EditDepartmentCaption).Text,
                                        nameof(WidgetsEmployeesController.EditDepartment),
                                        WidgetsEmployeesController.ControllerName,
                                        null,
                                        null)"
                            // TODO: what about id? /#=Id#
                        }]
                    });
                });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
