@{
    Layout = "~/Plugins/Widgets.Employees/Views/Shared/_Shared.cshtml";
}
@model EmployeeInfoModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;

<div class="master-wrapper-cph">
    <div class="Employees">
        <div class="employees-title">
            <div class="title">
                @if (Model.IsAdmin)
                {
                    <div class="options">
                        @Html.ActionLink(T(EmployeeActionResources.Edit).Text,
                            nameof(WidgetsEmployeesController.EditEmployee),
                            WidgetsEmployeesController.ControllerName,
                            new { id = Model.Employee.Id },
                            new { @class = "btn btn-dark" })
                    </div>
                }
                <div class="EmployeeInfoBack">
                    @Html.ActionLink(T(EmployeeActionResources.BackToList).Text,
                        nameof(WidgetsEmployeesController.Index),
                        WidgetsEmployeesController.ControllerName,
                        new { area = "" },
                        null)
                </div>
            </div>
            <div class="EmployeeInfo">
                <div class="EmployeeInfoContact">
                    @if (Model.Employee.PhotoUrl != null)
                    {
                        <img style="border-width:0;" src="@(Model.Employee.PhotoUrl)" class="EmployeeInfoImage"><br />
                    }
                    <div class="EmployeeInfoPhone">
                        @if (!string.IsNullOrEmpty(Model.Employee.PhoneNumber))
                        {
                            <span class="EmployeeInfoPhoneLabel">@T(EmployeeResources.PhoneNumber): </span>
                            <span class="EmployeeInfoPhoneValue">@Model.Employee.PhoneNumber</span><br />
                        }
                    </div>
                    <div class="EmployeeInfoMobile">
                        @if (!string.IsNullOrEmpty(Model.Employee.MobileNumber))
                        {
                            <span class="EmployeeInfoMobileLabel">@T(EmployeeResources.MobileNumber): </span>
                            <span class="EmployeeInfoMobileValue">@Model.Employee.MobileNumber</span><br />
                        }
                    </div>
                    <div class="EmployeeInfoEmail">
                        @if (!string.IsNullOrEmpty(Model.Employee.Email))
                        {
                            <span class="EmployeeInfoEmailLabel">@T(EmployeeResources.Email): </span>
                            <a class="EmployeeInfoEmailValue" href="mailto:@(Model.Employee.Email)">@Model.Employee.Email</a><br />
                        }
                    </div>
                </div>
                <div class="EmployeeInfoOther">
                    <div class="EmployeeInfoName">
                        <span class="EmployeeInfoNameValue">@Model.Employee.Name</span><br>
                    </div>
                    <div class="EmployeeInfoTitle">
                        <span class="EmployeeInfoTitleValue">@Model.Employee.Title</span>
                        <span class="EmployeeInfoTitleDepartmentSeparator">&nbsp;/&nbsp;</span>
                        <span class="EmployeeInfoDepartmentValue">@Model.Employee.DepartmentName</span>
                        <br>
                    </div>
                    <div class="EmployeeInfoStarted">
                        <span class="EmployeeInfoStartedLabel">@T(EmployeeResources.WorkStarted): </span>
                        <span class="EmployeeInfoStartedValue">@Model.Employee.WorkStarted.ToShortDateString()</span><br>
                    </div>
                    @if (Model.Employee.WorkEnded.HasValue)
                    {
                        <div class="EmployeeInfoEnded">
                            <span class="EmployeeInfoEndedLabel">@T(EmployeeResources.WorkEnded): </span>
                            <span class="EmployeeInfoEndedValue">@(Model.Employee.WorkEnded.HasValue ? Model.Employee.WorkEnded.Value.ToShortDateString() : "")</span><br>
                        </div>
                    }
                    <div class="EmployeeInfoSpecialities">
                        <span class="EmployeeInfoSpecialitiesLabel">@T(EmployeeResources.Specialties): </span>
                        <span class="EmployeeInfoSpecialitiesValue">@Html.Raw(Model.Employee.Specialties)</span><br>
                    </div>
                    <div class="EmployeeInfoInterests">
                        <span class="EmployeeInfoInterestsLabel">@T(EmployeeResources.Interests): </span>
                        @Html.Raw(Model.Employee.Interests)
                        <br>
                    </div>
                    <div class="EmployeeInfoInfo">
                        @Html.Raw(Model.Employee.Info)<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>