@model EmployeeModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;
@using Nop.Plugin.Widgets.Employees.Extensions;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Name" asp-required="true" />
                            <span asp-validation-for="@Model.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Title" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Title" asp-required="true" />
                            <span asp-validation-for="@Model.Title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Email" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Email" asp-required="true" />
                            <span asp-validation-for="@Model.Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.DepartmentId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="@Model.DepartmentId" asp-items="@Model.AvailableDepartments" />
                            @Html.ActionLink(T(AdminResources.AddDepartmentCaption).Text,
                                nameof(DepartmentsController.CreateAsync).NoAsync(),
                                DepartmentsController.ControllerName,
                                null,
                                null)
                            <span asp-validation-for="@Model.DepartmentId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.PictureId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.PictureId" asp-required="true" />
                            <span asp-validation-for="@Model.PictureId" />
                            @if (Model.PictureId >= 0)
                            {
                                Html.ActionLink(T(EmployeeActionResources.ViewPicture).Text,
                                                       nameof(EmployeesController.GetFullSizeEmployeePictureAsync).NoAsync(),
                                                       EmployeesController.ControllerName,
                                                       new { id = Model.PictureId, area = "Admin" },
                                                       null);
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Info" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Info" asp-required="true" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Info" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Specialties" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Specialties" asp-required="true" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Specialties" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Interests" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Interests" asp-required="true" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Interests" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.PhoneNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.PhoneNumber" asp-required="true" />
                            <span asp-validation-for="@Model.PhoneNumber" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.MobileNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.MobileNumber" asp-required="true" />
                            <span asp-validation-for="@Model.MobileNumber" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.WorkStarted" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.WorkStarted" asp-required="true" />
                            <span asp-validation-for="@Model.WorkStarted" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.WorkEnded" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.WorkEnded" asp-required="true" />
                            <span asp-validation-for="@Model.WorkEnded" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.DisplayOrder" asp-required="true" />
                            <span asp-validation-for="@Model.DisplayOrder" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Published" asp-required="true" />
                            <span asp-validation-for="@Model.Published" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>